
body{
    background-color:antiquewhite;
}
h1.headstone{
    color: #222;
    height: 40%;
    display: flex;
    flex: row wrap;
    justify-content: center;
}
p.grave{
    color: #222;
    height: 40%;
    display: flex;
    flex: row wrap;
    justify-content: center;
}